#vardump {
    font-family: monospace;
    color: #666;
}
#vardump section {
    padding-left: 12px;
    border-left: 4px solid #ddd;
}

#vardump pre {
    color: #999;
}

#vardump .division {
    font-weight: bold;
    color: #ff2bbd;
    border-top: 1px solid #ccc;
    display:block;
    padding: 3px 0;
    margin-top: 15px;
    font-size:10px;
}

#vardump .solid {
    display:inline-flex;
    align-items:center;
    height:15px;
    margin: 2px 0;
    padding:0 3px;
}

#vardump .string.solid {
    background: #4eafff;
    color: #fff;
}

#vardump .string.text {
    font-weight: bold;
    color: #1298e8;
}

#vardump .numeric.solid {
    background: #ff6c65;
    color: #fff;
}

#vardump .numeric.text {
    font-weight: bold;
    color: #f14c45;
}

#vardump .bool.solid.true {
    background: #00ad74;
    color: #fff;
}

#vardump .bool.text.true {
    font-weight: bold;
    color: #00ad74;
}

#vardump .bool.solid.false {
    background: #ff3287;
    color: #fff;
}

#vardump .bool.text.false {
    font-weight: bold;
    color: #ff3287;
}

#vardump .array.solid {
    background: #a684f7;
    color: #fff;
}

#vardump .array-key {
    border: 2px solid #ffe000;
    display: inline-flex;
    color: #4f05ff;
    margin: 1px 0;
    border-radius: 4px;
}

#vardump .object.solid {
    background: #88cc7a;
    color: #fff;
}
