#galastriVardump {
    font-family: monospace;
    color: #333;
}

#galastriVardump section {
    padding-left: 12px;
    border-left: 4px solid #ddd;
}

#galastriVardump pre {
    color: #999;
}

#galastriVardump objectTitle {
    display: inline-flex;
    font-weight: bold;
    background: #88cc7a;
    color: #fff;
    margin: 0 2px 0 1px;
    padding: 1px 5px;
}

#galastriVardump objectKey {
    display: inline-flex;
    border: 2px solid #ffe000;
    display: inline-flex;
    color: #9c5300;
    margin: 1px 0;
    border-radius: 4px;
}

#galastriVardump arrayTitle {
    display: inline-flex;
    font-weight: bold;
    background: #a684f7;
    color: #fff;
    margin: 0 2px 0 1px;
    padding: 1px 5px;
}

#galastriVardump arrayKey {
    display: inline-flex;
    border: 2px solid #ffe000;
    color: #4f05ff;
    margin: 1px 0;
    border-radius: 4px;
}

#galastriVardump stringTitle {
    display: inline-flex;
    font-weight: bold;
    background: #66baff;
    color: #fff;
    margin: 1.5px;
    padding: 0 3px;
}

#galastriVardump stringValue {
    font-weight: bold;
    color: #1298e8;
}

#galastriVardump numericTitle {
    display: inline-flex;
    font-weight: bold;
    background: #ff756e;
    color: #fff;
    margin: 2px;
    padding: 0 3px;
}

#galastriVardump numericValue {
    font-weight: bold;
    color: #f14c45;
}

#galastriVardump trueTitle {
    display: inline-flex;
    font-weight: bold;
    background: #00ad74;
    color: #fff;
    margin: 2px;
    padding: 0 3px;
}

#galastriVardump trueValue {
    font-weight: bold;
    color: #00ad74;
}

#galastriVardump falseTitle {
    display: inline-flex;
    font-weight: bold;
    background: #ff3287;
    color: #fff;
    margin: 2px;
    padding: 0 3px;
}

#galastriVardump falseValue {
    font-weight: bold;
    color: #ff3287;
}

#galastriVardump nullValue {
    font-style: oblique;
    color: #a75de4;
    text-transform: lowercase;
}

#galastriVardump .division {
    font-weight: bold;
    color: #ff2bbd;
    border-bottom: 1px solid #ccc;
    display:block;
    padding: 3px 0;
    margin: 15px 0;
    font-size:10px;
}

#galastriVardump .division::before {
    content: 'VARDUMP ';
}

#galastriVardump .division::after {
    content: ':';
}
